[user]
	name = Gihyeon Sung
	email = gi@hyeon.io
[credential]
	helper = cache --timeout=3600
[core]
  editor = nvim
[alias]
  a = add
  c = commit
  l = log --format="'%C(#56b88a bold)%h%C(reset) %s %C(#bca375 bold)%D%C(reset)'" -n 10
  ll = log --format="'%C(#56b88a bold)%h%C(reset) %an %ae %ai %C(#bca375 bold)%D%C(reset)%n%B'"
  s = status
